.header {
  text-align: center;
  padding: 32px 0 16px;
}

.header__logo {
  width: 40%;
  max-width: 254.84px;
  height: auto;
  margin: 0 auto 8px;
  display: block;
}

@media screen and (min-width: 544px) {
  .header__logo {
    width: 254.84px;
  }
}

.header__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
